/* Center the form content vertically and horizontally */
.form-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-image: url('../images/background1.png'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire container with the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

h2 {
    font-family: 'Sofia Sans Condensed', sans-serif;
}

/* Style the form */
#reserveForm {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

/* Style form elements */
#reserveForm .mb-3 {
    margin-bottom: 15px;
   font-family: 'Roboto Condensed', sans-serif;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@charset "ISO-8859-1";

/* table.css */
body {
	background-color: rgb(128, 128, 128);
    background-size: cover;
    background-repeat: no-repeat;
}
h2 {
    font-family: 'Sofia Sans Condensed', sans-serif;
}
/* Style the table header */
.table thead th {
	font-family: 'Lato', sans-serif;
	
    background-color: rgb(0, 0, 0); /* Dark background color for header */
    color: rgb(255, 255, 255); /* Text color for header */
}

/* Style table rows */
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Light background color for even rows */
}

/* Hover effect for table rows */
.table tbody tr:hover {
    background-color: #cce5ff; /* Background color on hover */
}

/* Style the table cells */
.table tbody td, .table thead th {
    border: 1px solid #dee2e6; /* Border for cells */
    padding: 10px; /* Padding inside cells */
}

/* Center text in table cells */
.table tbody td, .table thead th {
    text-align: center;
}
/* footer.css */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

footer p {
    text-align: center;
    margin: 0;
}


